/* RESET */
@font-face {
    font-family: Norse;
    src: url(assets/Norse-Bold.otf);
}

.roboto-slab-font {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

div{
    display: flex;
}

body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    font-family: "Roboto Slab", sans-serif;
}

.left{
    display: flex;
    flex: 0 0 35%;
    height: 100vh;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    position: relative;
}

#band{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    overflow: hidden;
}

#band img,
#band h1{
    display: flex;
    justify-content: center;
    height: 100%;
    object-fit: contain;
    flex: 1;
}
#band img{
    height: 100%;
    width: auto;
    object-fit: contain;
}
#band h1{
    color: white;
    flex: 1;
    font-family: Norse, sans-serif;
    text-align: center;
}

.left img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* display: block;
    margin: auto; */
}

h4{
    font-size: 22px;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 0 0 65%;
    justify-content: center;
    align-items: center;
}

.right > * {
    /* margin: 5px; */
    margin-top: 5px;
}

.description,
.information,
.account {
    flex: 1;
    padding-left: 5vw;
    width: 100%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.information{
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

.account {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 18px;
}

fieldset{
    border: none;
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 50px;
}

fieldset > *{
    font-size: 13px;
}

fieldset > label{
    margin-top: 10px;
}

.information {
    background-color: rgb(235, 235, 235);
}

button {
    padding: 5px 50px;
    border-radius: 10px;
    background-color: rgb(198, 13, 198);
}

strong{
    color: rgb(198, 13, 198);
}

input {
    border: solid 2px black;
    border-radius: 10px;
    padding: 5px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}