/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
}

.left{
    display: flex;
    flex: 0 0 35%;
    height: 100vh;
    overflow: hidden;
}

.left img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* display: block;
    margin: auto; */
}

.right{
    display: flex;
    flex-direction: column;
    flex: 0 0 65%;
    justify-content: center;
    align-items: center;

}